<div class="w-full h-full px-6">
    <h5>Dashboard</h5>
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6 bg-white rounded-md shadow-lg p-4">
            <h6 class="ms-3">Ocupação dos apartamentos</h6>
            <div class="pt-3">
                <!-- [title]="chartOptions.title" -->
                <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive"
              ></apx-chart>
            </div>
        </div>
        <div class="col-span-6 bg-white rounded-md shadow-lg p-4">
            <h6 class="ms-3">Visitantes do mês de {{ currentMonth }}</h6>
            <div>
                <!-- [title]="chartOptions2.title" -->
                <apx-chart
                    [series]="chartOptions2.series"
                    [chart]="chartOptions2.chart"
                    [dataLabels]="chartOptions2.dataLabels"
                    [plotOptions]="chartOptions2.plotOptions"
                    [yaxis]="chartOptions2.yaxis"
                    [xaxis]="chartOptions2.xaxis"
                    [legend]="chartOptions2.legend"
                    [colors]="chartOptions2.colors"
                    [grid]="chartOptions2.grid"
                ></apx-chart>
            </div>
        </div>
    </div>
</div>
